doctype html

mixin slide(title, subtitle)
  slide.container-fluid
    if title || subtitle
      .row
        .col-md-12
          .box.text-center
            if title
              h1= title
            if subtitle
              h2= subtitle
    .row.row-stretch.sm-margin-top
      block

mixin slide-column(classes=['col-md-12'])
  div(class=classes)
    .box
      block

html(ng-app="GitIntro",lang="en")
  head
    title git introduction
    meta(charset="UTF-8")
    link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet",href="//opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css")
    link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Roboto:400,500,600,800")

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js")

    script(src="vendor/angular-slidedeck/angular-slidedeck.min.js")
    link(rel="stylesheet",href="vendor/angular-slidedeck/angular-slidedeck.min.css")

    link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/tomorrow-night.min.css")

    // initialize angular (your own js and css)
    script(src="index.js")
    link(rel="stylesheet",href="index.css")

  body(ng-cloak)
    slides

      +slide('git', 'Introduction to collaborative coding')
        +slide-column(['col-md-offset-3', 'col-md-6'])
          .text-center
            a(href="https://andre.gaul.io")
              img(src="img/andre.jpg",style="max-width: 90px").img-circle
            p André Gaul
            p
              a(href="https://twitter.com/andrenarchy") @andrenarchy
            p
              a(href="https://paperhive.org")
                img(src="img/paperhive.svg",style="height: 1em")

      each name in ['new-project', 'code', 'hack', 'code-files', 'months', 'enter-bob', 'mail', 'mess', 'explosion']
        +slide('The problem')
          +slide-column
            .text-center
              img(src='img/problem-' + name +'.svg',style="width: 80%")

      +slide('git')
        +slide-column(['col-md-6'])
          h3 Why?
          ul
            li keep entire project history
            li fixed snapshots: <em>commits</em>
            li for single devs
            li for teams with thousands of devs
            li work <em>in parallel</em>
        +slide-column(['col-md-6'])
          h3 How?
          pre
            code.hljs
              :highlight(lang="bash")
                # initialize local repo
                git init
                # create file test.py
                echo "print('hello world')" > test.py
                # tell git to take care of test.py
                git add test.py
                # create a commit
                git commit -m "add test.py"

      +slide('git', 'commits and branches')
        +slide-column
          .text-center
            img(src="img/git-concept-commits.svg",style="width: 85%")

      +slide('git', 'sync with others')
        +slide-column(['col-md-6'])
          h3 Setup
          pre
            code.hljs
              :highlight(lang="bash")
                # tell git about the remote repo
                git remote add origin \
                  git@github.com/user/repo.git
          pre
            code.hljs
              :highlight(lang="bash")
                # initial push with new remote
                git push -u origin master
        +slide-column(['col-md-6'])
          h3 Regular usage
          pre
            code.hljs
              :highlight(lang="bash")
                # sync changes from remote repo
                git pull
          pre
            code.hljs
              :highlight(lang="bash")
                # sync changes to remote repo
                git push

      +slide('git', 'sync with others')
        +slide-column
          .text-center
            img(src="img/git-concept-path.svg",style="width: 75%")

      +slide('git', 'hands on')
        +slide-column
          ol
            li Create a github account or log in
            li Go to <a href="https://github.com/andrenarchy/pull-request-please">https://github.com/andrenarchy/pull-request-please</a>
            li Create a fork
            li Clone your fork:<br><code>git clone https://github.com/YOURUSERNAME/pull-request-please</code>
            li Read <code>groupXX.txt</code>
