doctype html

mixin slide(title, subtitle)
  slide.container-fluid
    if title || subtitle
      .row
        .col-md-12
          .box.text-center
            if title
              h1= title
            if subtitle
              h2= subtitle
    .row.sm-margin-top
      block

mixin slide-column(classes=['col-md-12'])
  div(class=classes)
    .box
      block

html(ng-app="GitIntro",lang="en")
  head
    title git introduction
    meta(charset="UTF-8")
    link(rel="stylesheet",href="vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="vendor/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet",href="//fonts.googleapis.com/css?family=Roboto:400,500,600,800")

    script(src="vendor/angular/angular.min.js")
    script(src="vendor/angular-animate/angular-animate.min.js")
    script(src="vendor/angular-slidedeck/angular-slidedeck.min.js")
    link(rel="stylesheet",href="vendor/angular-slidedeck/angular-slidedeck.min.css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js")
    script(src="vendor/angular-highlightjs/angular-highlightjs.min.js")
    link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/tomorrow-night.min.css")

    // initialize angular (your own js and css)
    script(src="index.js")
    link(rel="stylesheet",href="index.css")

  body(ng-cloak)
    slides

      +slide('git introduction', 'Collaborative coding with pull requests')
        +slide-column(['col-md-offset-3', 'col-md-6'])
          .text-center
            img(src="img/andre.jpg",style="max-width: 90px").img-circle
            p André Gaul
            p
              a(href="https://twitter.com/andrenarchy") @andrenarchy
            p
              a(href="https://paperhive.org")
                img(src="img/paperhive.svg",style="height: 1em")

      each name in ['new-project', 'code', 'hack', 'code-files', 'months', 'enter-bob', 'mail', 'mess']
        +slide('The problem')
          +slide-column
            .text-center
              img(src='img/problem-' + name +'.svg',style="width: 80%")

      +slide('Why git?')
        +slide-column
          ul
            li keeps entire project history (<em>commits</em>)
            li suitable for single dev and teams with &gt;1e4 devs
            li allows devs to work <em>in parallel</em> seamlessly

      +slide('git – the concept')
        +slide-column
          .text-center
            img(src="img/git-concept.svg",style="width: 90%")
